#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  max-width: 100%;
  margin: 0 auto;
}
.main {
  max-width: 1400px;
  padding: 30px;
  margin: 0 auto;
}